h1 node-robohash demo
p Refresh to to get another page full of random bots
- for (var i = 0; i < rows; i++)
  div
    - for (var j = 0; j < cols; j++)
      img(width=size, height=size, src="" + i + "" + j)
